*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/images/pattern-background-desktop.svg);
    
    background-repeat: no-repeat;
    background-size: 120rem;
    
}

#container{
    display: grid;
    justify-content: center;
}

#box{
    overflow: hidden;
    object-fit: cover;
    margin-top: 50%;
    margin-bottom: 17%;
    width: 26rem;
    height: 40rem;
    background-color: white;
    border-radius: 16px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

#hero{
    transform: translateX(-1rem)
}

.orderSummary{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: x-large;
    margin-top: 10%;
}

.description{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    width: 16rem;
    margin: auto;
    margin-top: 1rem;
    color: grey;
}

.box2{
    display: grid;
    justify-content: center;
}

.col2{
    margin-top: 10%;
    width: 20rem;
    height: 5rem;
    background-color: rgb(241, 234, 234);
    border-radius: 0.5rem;
}

.col2 img {
    float:left;
    margin-left: 1rem;
    margin-top: 1rem;
}

.planText{
    float:left;
    margin-left: 25px;
    margin-top: 5px;
    line-height: 2rem;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
}

.price{
    font-weight: 400;
    color: grey;
}


#changeBtn{
    margin-top: 5%;
    color: rgb(91, 9, 168);
    
}


#proceedPay{
    background-color: rgb(91, 9, 168);
    font-family: 'Red Hat Display', sans-serif;
    margin: 1rem;
    height: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 2rem;
}

#cancelOrder{
    background-color: none;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    color: rgb(66, 65, 65);
}

#changeBtn:hover{
    text-decoration-line: none;
    color:  rgb(116, 74, 155);
}

#proceedPay:hover{
    background-color:  rgb(116, 74, 155);
}

#cancelOrder:hover{
    color: rgb(0, 0, 0);
}